.member-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vw;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 3%;
}

.member-card{
    width: 28%;
    /* width: auto; */
    border: 0.1vw solid black;
    font-family: 'poppins';
    border-radius: 7px;
    text-align: left;
    padding: 1vw;
    margin-bottom: 2vw;
}