.member-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vw;
    margin-left: 15%;
    margin-right: 15%;
    gap: 2%;
}

.member-card{
    width: 28%;
    border: 0.1vw solid black;
    font-family: 'poppins';
    border-radius: 7px;
    text-align: left;
    padding-left: 2vw;
    padding: 1vw    ;
    margin-bottom: 2vw;
}