.amigHead{
    width: 100%;
    height: 7vw;
    display: flex;
    flex-direction: row;
    background: linear-gradient(90deg, #0578FF 0%, #5FA9FF 122.15%, #8CC1FF 167.55%);
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'poppins';
    font-size: 2vw;
    font-weight: 600;
}

.lineGrp{
    width: 100%;
    height: 7vw;
}

.l1{
    height:3.5vw;
    background-color:#5FA9FF;
}

.l2{
    height:3.5vw;
    background-color:#CDE4FF;
}

.countdown{
    margin-top: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3vw;
    font-family: poppins;
    align-items: center;
    color: #0578FF;
}

.sec{
    text-align: center;
    text-align: center;
    font-family: 'Poppins';
    font-size: 3.3vw;
    font-weight: 600;
    margin-top: 2vw;
    background: linear-gradient(90deg, #0578FF 0.01%, #8CC1FF 212%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sec-grp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vw;
    justify-content: center;
    width: 76%;
    margin-left: 12%;
    gap: 5%;
}

.sec-cards{
    width: 22%;
    height: 5.5vw;
    border: 0.1vw solid #ADADAD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'poppins';
    font-size: 1.35vw;
    border-radius: 7px;
    text-align: center;
    padding: 1vw;
    margin-bottom: 4vw;
}

.com-grp{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vw;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    gap: 3%;
}

.com-card{
    width: 28%;
    border: 0.1vw solid #ADADAD;
    font-family: 'poppins';
    border-radius: 7px;
    text-align: left;
    padding: 1vw;
    margin-bottom: 2vw;
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.name{
    font-size: 1.2vw;
    font-weight: 600;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    
}